
#arrow-box{
	fill: #2c3e50;
	margin-top:-20px;
	margin-bottom: 50px;
	visibility: visible;
}

#svg-arrow{
	fill: #2c3e50;
	opacity: 1.0;
	visibility: hidden;
}

#loader
{
position:relative;
width:240px;
height:29px
}

.loader{
margin-left:30px;
margin-bottom: 50px;
position:absolute;
top:0;
background-color:#000000;
width:15px;
height:15px;
-moz-animation-name:bounce_loader;
-moz-animation-duration:1.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:19px;
-webkit-animation-name:bounce_loader;
-webkit-animation-duration:1.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:19px;
animation-name:bounce_loader;
animation-duration:1.7s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:19px;
}

#loader_1{
left:0;
-moz-animation-delay:0.68s;
-webkit-animation-delay:0.68s;
animation-delay:0.68s;
}

#loader_2{
left:30px;
-moz-animation-delay:0.85s;
-webkit-animation-delay:0.85s;
animation-delay:0.85s;
}

#loader_3{
left:60px;
-moz-animation-delay:1.02s;
-webkit-animation-delay:1.02s;
animation-delay:1.02s;
}

#loader_4{
left:90px;
-moz-animation-delay:1.19s;
-webkit-animation-delay:1.19s;
animation-delay:1.19s;
}

#loader_5{
left:120px;
-moz-animation-delay:1.36s;
-webkit-animation-delay:1.36s;
animation-delay:1.36s;
}

#loader_6{
left:150px;
-moz-animation-delay:1.53s;
-webkit-animation-delay:1.53s;
animation-delay:1.53s;
}

#loader_7{
left:180px;
-moz-animation-delay:1.7s;
-webkit-animation-delay:1.7s;
animation-delay:1.7s;
}

#loader_8{
left:210px;
-moz-animation-delay:1.87s;
-webkit-animation-delay:1.87s;
animation-delay:1.87s;
}

@-moz-keyframes bounce_loader{
0%{
-moz-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-moz-transform:scale(.3);
background-color:#2c3e50;
}

}

@-webkit-keyframes bounce_loader{
0%{
-webkit-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-webkit-transform:scale(.3);
background-color:#2c3e50;
}

}

@keyframes bounce_loader{
0%{
transform:scale(1);
background-color:#FFFFFF;
}

100%{
transform:scale(.3);
background-color:#2c3e50;
}

}