 @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Ruthie);

/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  list-style: none;
}
body {
	/*font: normal 1em/1.5 sans-serif;*/
	font-family: 'Exo', sans-serif;
	color: #222;
	background-color: #edeff0;
  /*color:#ecf0f1;
  background-color:  #2c3e50*/
}

img {
	/*border: solid 1px;*/
	padding: 5px;
}

/* Main Layout Styles
================================ */

.main-header {
  /*margin-top:20px;
  padding-top: 10px;
    padding-bottom: 10px;*/
  opacity:1.0;
	

	background-color: #384047; 
}

/*.main-logo a, */
.main-nav a {
	display: block; /*was block */ 	
	text-align: center;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	list-style: none;
}
.main-logo a { 
	
  font-family: "Ruthie","Lato" cursive;
  text-decoration: none;
  color: white;
  padding-top: 20px;
  font-size: 1.5em;
  /*background-color: #5fcf80; */
}
.main-nav a { 
	background-color: #3f8abf;

}
.main-footer {
	text-align: center;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
 	background-color: #b7c0c7;
}

.cycle-slideshow { position: relative; min-height: 400px; }
.cycle-slideshow img { width: 100%; border:solid 1px; height: auto }

@media (min-width: 768px) { 

	/* Main Layout Styles
	================================ */

	body {
		padding-top: 75px;

	}
	.main-header {
		position: fixed;
		top: 0;
		width: 100%;
    z-index: 110;
	}
	.main-nav {
		text-align: right; /*Links will shift over to right hand side of nav bar*/
		list-style: none;
	}
	.main-nav li {
		margin-top: 6px;
		margin-left: 10px;
		display: inline-block;
	}
	.main-banner {
		background: #dfe2e4;
    margin-top: 30px;
		/*background-image:url("http://www.epigram.org.uk/media/k2/items/cache/ae3a258ce11027e1b4c59b558ff93c1c_M.jpg");*/
 		text-align: center;
		padding: 50px 15px;
		margin-bottom: 20px;
	}

	/* Imagery
	================================ */

	.feat-img {
		width: 45%;
		float: left;
		margin: 5px 20px 10px 0;
    min-height: 200px;
    min-width:200px;
	}
}

@media (min-width: 1px) and (max-width: 767px)  {

  .main-nav li{
		margin-bottom: 10px;
	}

}


/* CONTACT FORM
	================================ */
 
/* Add curved borders to various elements */
 
#contactForm, .statusMessage, input[type="submit"], input[type="button"] {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
  border-radius: 10px;
}
 
 
/* Style for the contact form and status messages */
 
#contactForm, .statusMessage {
  color: #666;
  background-color: #ebedf2;
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
  background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );  
  border: 1px solid #aaa;
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  opacity: .95;
}
 
 
/* The form dimensions */
 
#contactForm {
  width: 40em;
  height: 33em;
  padding: 0 1.5em 1.5em 1.5em;
  margin: 0 auto;
  z-index: 120;
}
 
 
/* Position the form in the middle of the window (if JavaScript is enabled) */
 
#contactForm.positioned {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
}
 
 
/* Dimensions and position of the status messages */
 
.statusMessage {
  display: none;
  margin: auto;
  width: 30em;
  height: 5em;
  padding: 1.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
 
.statusMessage p {
  text-align: center;
  margin: 0;
  padding: 0;
}
 
 
/* The header at the top of the form */
 
#contactForm h2 {
  font-size: 2em;
  font-style: italic;
  letter-spacing: .05em;
  margin: 0 0 1em -.75em;
  padding: 1em;
  width: 19.5em;  
  color: #aeb6aa;
  background: #dfe0e5 url('images/stamp.jpg') no-repeat 15em -3em; /* http://morguefile.com/archive/display/606433 */
  border-bottom: 1px solid #aaa;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;  
  border-radius: 10px 10px 0 0;
}
 
 
/* Give form elements consistent margin, padding and line height */
 
#contactForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
#contactForm ul li {
  margin: .9em 0 0 0;
  padding: 0;
}
 
#contactForm input, #contactForm label {
  line-height: 1em;
}
 
 
/* The field labels */
 
label {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 28%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
  font-weight: bold;
}
 
 
/* The fields */
 
input, textarea {
  display: block;
  margin: 0;
  padding: .4em;
  width: 67%;
  font-family: "Georgia", serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
  border-radius: 5px;
  -moz-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
  -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
  box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
  background: #fff;
}
 
textarea {
  height: 13em;
  line-height: 1.5em;
  resize: none;
}
 
 
/* Place a border around focused fields, and hide the inner shadow */
 
#contactForm *:focus {
  border: 1px solid #66f;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
 
 
/* Display correctly filled-in fields with a green background */
 
input:valid, textarea:valid {
  background: #dfd;
}
 
 
/* The Send and Cancel buttons */
 
input[type="submit"], input[type="button"] {
  float: right;
  margin: 2em 1em 0 1em;
  width: 10em;
  padding: .5em;
  border: 1px solid #666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
  border-radius: 10px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #0a0;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  opacity: .7;
  -webkit-appearance: none;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
 
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
  cursor: pointer;
  opacity: 1;
}
 
input[type="submit"]:active, input[type="button"]:active {
  color: #333;
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}
 
input[type="button"] {
  background: #f33;
}
 
 
/* Header/footer boxes */
 
.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}
 
.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}
 
</style>
 
<!-- Some IE7 hacks and workarounds -->
 
<!--[if lt IE 8]>
<style>
 
/* IE7 needs the fields to be floated as well as the labels */
 
input, textarea {
  float: right;
}
 
#formButtons {
  clear: both;
}
 
/*
  IE7 needs an ickier approach to vertical/horizontal centring with fixed positioning.
  The negative margins are half the element's width/height.
*/
 
#contactForm.positioned, .statusMessage {
  left: 50%;
  top: 50%;
}
 
#contactForm.positioned {
  margin-left: -20em;
  margin-top: -16.5em;
}
 
.statusMessage {
  margin-left: -15em;
  margin-top: -1em;
}

/*================ Logo ===============
  width: 300px;
  height: 460px; */